<div class="footer">

  <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>Logo soll hier kommen</h2>
          <p>Lorem ipsum is simply dummy text of printing and typesetting industry</p>
        </div>
        <div class="col-sm-6">
          <h2>Quick Links</h2>
          <ul>
            <li>Ersatzteile</li>
            <li>Zubehör</li>
          </ul>

        </div>
        <div class="col-sm-6">
          <h2>Contact us</h2>
          <ul>
            <li>FAQ</li>
            <li>Give us Feedback</li>
            <li>Contact US</li>
          </ul>

        </div>
        <div class="col-sm-6">
          <h2>Rechtliches</h2>
          <ul>
            <li>AGB</li>
            <li>Datenschutz</li>
            <li>Widerruf</li>
          </ul>
        </div>
      </div>
  </div>

</div>
