{% extends getPartial('page-design') %}

{% block PageBody %}

	<h1>Lotu Bootszubehör</h1>
	<p>Das ist ein Text. Eine Beschreibung für Plentymarkets. Beinhaltet leider nicht soviel Text aber ist
	entscheided für vieles. 
	Majdoline. 
	</p>

{% endblock %}