/* --------------------------------------------------------
Style Sheet für Lotu Theme

version: 0.0.1
Letzte Änderung: 02.07.2018
author: Ayoub El Hobbi
email: ayoub@elhobbi.com
website: http://ayouncif.com
----------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Nunito');

/* Wenn Theme fertig dann entfernen */
.pluginset-preview-overlay {
  display: none;
}

a {
  color: #ffce00;
}

a:hover {
  color: #ffce00 !important;
}

* {
	font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito', sans-serif !important;
}

.footer .footer-features {

  background-color: #008ebd;
}

/* CSS für den neuen Footer */

.footer {
  background: #222222;
  padding-top: 20px;
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 5px;
}

.footer img {
  margin-bottom: 20px;
  margin-top: -63px;
}

/* UL Start Padding zurücksetzen */
.footer ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
}

.footer li {
    margin-bottom: 10px;
}

.footer li:before {
    content: "• ";
    color: #ffce00;
    padding-right: 5px;
}

.footer h3 {
    margin-bottom: 18px;
}

.footer a {
  color: #fff;
}

.footer small {
  display: block;
  border-top: 1px solid #fff;
  clear: left;
  padding-top: 16px;
}

body > #vue-app, body > #vue-error {
  background-color: #000;
}

.cmp-product-thumb .thumb-title, .cmp-product-thumb .price {
  color: #fff;
}

.cmp-product-thumb .thumb-content {
  background-color: #2e2e2e;
  height: 100%;
}

.text-muted {
  color: #fff;
}

.wrapper-main #page-body {
  background-color: #000;
}

.container-max {
  background-color: #000;
}

.sidebar-categories {
  background-color: #000;
}

.sidebar-categories .category-title {
  background: none;
}

.sidebar-categories ul li.active > a {
  color: #ffce00;
  background: none;
}
.sidebar-categories ul li a:hover {
  background: none;
}

.sidebar-categories ul li a {
  color: #fff;
}

.sidebar-categories ul li.active ul li a {
  color: #fff;
}


.list-controls .list-controls-inner {
  background: none;
}

.wrapper-main > nav.container-max {
  background: none;
}

.wrapper-main .navbar {
  background: none;
  border-bottom: 1px solid #000;
}

.navbar {
  background: none;
}

.top-bar {
  background-color: #000;
}

#mainNavbarCollapsable ul.mainmenu {
  color: #fff;
}

.top-bar .controls-list .control-basket .toggle-basket-preview {
  background-color: transparent;
}

.top-bar .controls-list .control-basket .toggle-basket-preview:hover {
  background-color: transparent;
}

.anicon > .anicon-search-item:after {
  background: #fff;
}

.cmp-product-thumb .add-to-basket-lg-container {
  border-color: transparent #ffce00 transparent transparent;
}

.cmp-product-thumb .add-to-basket-lg-container:hover {

  border-color: transparent #ffce00 transparent transparent;
}

.parallax-img-container .parallax-text-container h1 {
  color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ffce00;
    border-color: #000;
}
