/* --------------------------------------------------------
Style Sheet für Lotu Theme

version: 0.0.1
Letzte Änderung: 02.07.2018
author: Ayoub El Hobbi
email: ayoub@elhobbi.com
website: http://ayouncif.com
----------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
	font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito', sans-serif !important;
}

.footer .footer-features {

  background-color: #008ebd;
}

/* CSS für den neuen Footer */

.footer {
  background: #222222;
  padding: 50px;
  color: #fff;
}

.footer img {
  margin-bottom: 20px;
}

/* UL Start Padding zurücksetzen */
.footer ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.footer li {
    margin-bottom: 10px;
}

.footer li:before {
    content: "• ";
    color: #ffce00;
    padding-right: 5px;
}

.footer h3 {
    margin-bottom: 18px;
}

.footer a {
  color: #fff;
}
