/* --------------------------------------------------------
Style Sheet für Lotu Theme

version: 0.0.1
Letzte Änderung: 03.07.2018
author: Ayoub El Hobbi
email: ayoub@elhobbi.com
website: http://ayouncif.com
----------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Lato');


@font-face {
  font-family: "akaChen";
  src: url("../documents/akachen/akaChen.ttf");
}

/* Wenn Theme fertig dann entfernen */
.pluginset-preview-overlay {
  display: none;
}

a {
  color: #ffce00;
}

a:hover {
  color: #ffce00 !important;
}

* {
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'akaChen', sans-serif !important;
  color: #fff;
}

body {
  color: #fff;
  background-image: url(https://www.lotu.de/images/hintergrund.png);
}

.footer .footer-features {

  background-color: #008ebd;
}

/* CSS für den neuen Footer */

.footer {
  background: #222222;
  padding-top: 20px;
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 5px;
  margin-top: 4rem;
}

.footer img {
  margin-bottom: 20px;
  margin-top: -63px;
}

/* UL Start Padding zurücksetzen */
.footer ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
}

.footer li {
    margin-bottom: 10px;
}

.footer li:before {
    content: "• ";
    color: #ffce00;
    padding-right: 5px;
}

.footer h3 {
    margin-bottom: 18px;
}

.footer a {
  color: #fff;
}

.footer small {
  display: block;
  border-top: 1px solid #fff;
  clear: left;
  padding-top: 16px;
}

body > #vue-app, body > #vue-error {
  background-color: transparent;
}

.cmp-product-thumb .thumb-title, .cmp-product-thumb .price {
  color: #fff;
  font-size: 100%;
}

.cmp-product-thumb .price {
  font-size: 1.5rem;
}

.cmp-product-thumb .thumb-content {
  background-color: #2e2e2e;
  height: 100%;
}

.text-muted {
  color: #fff;
}

.wrapper-main #page-body {
  background-color: #000;
}

.container-max {
  background-color: transparent;
}

.sidebar-categories {
  background-color: transparent;
}

.sidebar-categories .category-title {
  background: none;
  padding: 1.2rem 1rem;
  color: #fff;
  font-size: 1.5rem;
}

.sidebar-categories ul li.active > a {
  color: #ffce00;
  background: url(https://www.lotu.de/images/arrow-icon.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 10px;
}
.sidebar-categories ul li a:hover {
  background: none;
}

.sidebar-categories ul li a {
  color: #fff;
}

.sidebar-categories ul li.active ul li a {
  color: #fff;
}


.list-controls .list-controls-inner {
  background: none;
}

.wrapper-main > nav.container-max {
  background: none;
}

.wrapper-main .navbar {
  background: none;
  border-bottom: transparent;
}

.navbar {
  background: none;
}

.top-bar {
  background-color: transparent;
}

#mainNavbarCollapsable ul.mainmenu {
  color: #fff;
}

.top-bar .controls-list .control-basket .toggle-basket-preview {
  background-color: transparent;
}

.top-bar .controls-list .control-basket .toggle-basket-preview:hover {
  background-color: transparent;
}

@media (min-width: 768px) {
.top-bar .controls-list > li a:not(.btn)[aria-expanded="true"], .top-bar .controls-list > li a:not(.btn):hover {
    background-color: #008ebd;
    color: #fff;
}
}

.cmp-product-thumb .add-to-basket-lg-container {
  border-color: transparent #ffce00 transparent transparent;
}

.cmp-product-thumb .add-to-basket-lg-container:hover {

  border-color: transparent #ffce00 transparent transparent;
}

.parallax-img-container .parallax-text-container h1 {
  color: #fff;
  font-size: 3rem;
}

.btn-primary {
  color: #000;
  background-color: #ffce00;
  border-color: #ffce00;
  border-radius: 1.4rem;
  font-family: 'akaChen', sans-serif !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ffce00;
    border-color: #000;
    opacity: 0.9;
}

.btn-outline-primary {
  color: #ffce00;
  border-color: #ffce00;
}

.btn-outline-primary:hover {
  color: #000;
  background-color: #ffce00;
  border-color: #FFCE02;
}

.list-wrapper {
  display: none;
}

.page-link {
  background-color: transparent;
  border: none;
}

.page-link:focus, .page-link:hover {
  background-color: transparent;
  border-color: transparent;
}

.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
  background-color: transparent;
  border-color: transparent;
}

.page-item.disabled .page-link, .page-item.disabled .page-link:focus, .page-item.disabled .page-link:hover{
  background-color: transparent;
}

.top-bar .controls-list .control-basket .toggle-basket-preview {
  color: #ffce00;
}

.qty-box .qty-input {
  border: 2px solid #ffce00;
  background-color: #000;
  color: #fff;
  border-right: 1px solid #ffce00;
  border-top-left-radius: 1.4rem;
  border-bottom-left-radius: 1.4rem;
  width: 87px;
}

.qty-box .qty-btn-container {
  border: 2px solid #ffce00;
  background: #000;
  border-top-right-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
  width: 50px;
}

.qty-box .qty-btn-container .qty-btn > .qty-sign{
  color: #fff;
}

.custom-select{
  background: url(https://www.lotu.de/images/arrow-bottom.png);
  color: #fff;
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 87%;
  background-size: 10px;
}

.input-unit {
  border: 2px solid #ffce00;
  border-radius: 1.4rem;
}

.input-unit label, .input-unit .input-unit-label {
  color: #fff;
  /* color: #222222; */

}

.modal-body .input-unit {
  border: 1px solid #222222;
  border-radius: 0;

}

.modal-body .input-unit label, .modal-body .input-unit .input-unit-label {
  color: #222222;
}

.section-header {
  background: none;
}

.section-header h1, .section-header h2, .section-header h3, .section-header h4, .section-header h5, .section-header h6 {
  font-weight: bold;
  font-size: 3rem;
}

@media (min-width: 1200px){
  .parallax-img-container .parallax-text-wrapper {
    /* margin-left: 20px;
    margin-right: -15px;
     background-position: right top;
    background-image: url(https://image.flaticon.com/icons/svg/987/987941.svg);
    background-repeat: no-repeat;*/
    padding-top: 3rem;
    padding-left: 1rem;
  }
}

@media (min-width: 544px) {
.cmp-product-thumb .thumb-content {
    padding: 1.3rem;
}
}

span.vat-porto-info.small.text-muted, .btn-labeled, .basket-preview .totals, span.vat.small.text-muted {
  font-size: 73%;
  border-top: 1px solid #ffce00;
  padding-top: 1px;
}

.cmp-product-thumb .prices {
  padding-bottom: 1rem;
}

.availability_1, .availability_2 {
  background-color: transparent;
  color: #7ed321
}

.qty-box .qty-btn-container .qty-btn {
  border-bottom: 1px solid #ffce00;
  font-size: 0.8rem;
  vertical-align: middle;
  clear: both;
}

.qty-box .qty-btn-container .qty-btn:not(.disabled):hover {
  background: transparent;
}

.input-unit input[type], .input-unit textarea, .input-unit input:not([type="checkbox"]), .input-unit input:not([type="radio"]), .input-unit .input-unit-preview {

  background-color: transparent;
}

.modal-content {
  background: url(https://www.lotu.de/images/background-popup.png);
  border: 1px solid #222;
}

button.close {
  opacity: 1;
  text-shadow: none;
  padding: none;
}

.availability_5 {
  background: transparent;
  color: #d9534f;
}

@media (min-width: 768px) {
.top-bar .controls-list > li a:not(.btn) {
    padding: 0.5rem 0.8rem;
    display: inline-block;
}
}

@media (min-width: 768px) {
.top-bar .controls-list > li a:not(.btn)[aria-expanded="true"], .top-bar .controls-list > li a:not(.btn):hover {
    background-color: transparent;
    color: #fff;
}
}

@media (min-width: 992px) {
.no-touch nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li:hover, .touch nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li.hover {
    background: transparent;
    color: #fff !important;
}
}

@media (min-width: 992px){
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li.level1 > a {
    color: #ffce00;
    font-weight: bold;
}
}

@media (min-width: 992px){
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li a {
  background: #222222;
  color: #fff;
}
}

@media (min-width: 992px){
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse {
  background-color: #222222;
}
}

@media (min-width: 992px) {
.no-touch nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li:hover, .touch nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li.hover{
  background: transparent;
}
}

@media (min-width: 992px) {
.no-touch nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li a:hover, .touch nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li a.hover{
  color: #ffce00 !important;
  background: transparent;
}
}

div.col-md-5.single-rightside.m-t-1 > span.vat.small.text-muted {
  border-top: none;
}

.owl-carousel .owl-single-item-control {
  color: #ffce00;
}

.cmp-contact h1{
  color: #000;
}

/* Responsive -- Mobile*/
.navbar-toggler {
  color: #fff;
}

.mobile-navigation {
  background: #222222;
}

.modal-title {
    text-align: center;
    color: #000;
    font-family: 'akaChen', sans-serif;
}

.modal-body h1, .modal-body h2, .modal-body h3, .modal-body h4, .modal-body h5, .modal-body h6, .modal-body p {
  color: #000000;
}

.popper h1, .popper h2, .popper h3, .popper h4, .popper h5, .popper h6, .popper p, .popper-content, .popper-title {
  color: #000000;
}

.modal-footer a {
  color: #000;
  margin-left: 5px;
}

.modal-footer a:hover {
  opacity: 0.6;
  color: #222222 !important;
}

























/* CeresVanilla */

.navbar-brand img {
    max-height: 6rem;
}

.plenty-brand {
	display: none;
}

#ppButton > a > img {

	display: block;
	margin: 0 auto;
}

.owl-carousel .owl-item img {
	width: 100%;
}


/*Das muss man noch überprüfen*/

.m-b-0 {
	display: none;
}

button.btn.btn-block.btn-default {

	color: #fff;
  background-color: #008ebd;
  border-color: #008ebd;
}

.fa-spinner:before {

	content: "";
}

#page-body > div > div > div.col-md-5.single-rightside.m-t-1 > div:nth-child(6) > div, #page-body > div > div > div:nth-child(2) > div > div:nth-child(6) > div {
	display: none;
}

/*
.tab-content {
	background-color: #dadae3;
    padding: 20px;
    color: #4D4F4D;
}
*/

#controlsList > li.list-inline-item.dropdown.control-languages {
	display: none;
}

.homepage-title {
	 width: 1px;
	 height: 1px;
	 position: absolute;
	 clip: rect(1px, 1px, 1px, 1px);
 }


@media (min-width: 900px) {
  .background {
    padding: 0 0 25px;
  }
}

.PricingContainer {
      margin: 0 auto;
    padding: 50px 0 0;
    max-width: 1190px;
    width: 100%;
}

.PricingContainer h2 {

	text-align: center;
    font-size: 1.8rem;
    margin-bottom: 50px;
}
}

.PricingPanel {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10;
  margin-bottom: 30px;
}

.pricing-table {
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }
}

.pricing-table * {
  text-align: center;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px;
}

.pricing-plan:last-child {
  border-bottom: none;
}

.white-popup-block {
    background: #FFF;
    padding: 20px 30px;
    text-align: left;
    max-width: 650px;
    margin: 40px auto;
    position: relative;
 }

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-header {

}

.pricing-features {
  margin: 50px 0 25px;
}

.pricing-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  list-style-type: none;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;

}

.pricing-price {
  color: #016FF9;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348EFE;
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}


.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
  background-color: #269aff;
}


/* CSS für das Modal - BEGIN */

.klebeanleitung {

	margin: 50px 0 50px 0;
}

.klebeanleitung h2 {

	text-align: center;
    font-size: 1.8rem;
    margin-bottom: 50px;
}

/* CSS für das Modal - ENDE */



/* The Modal (background) */
.modalH {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-contentH {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.closeH {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeH:hover,
.closeH:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-headerH {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-bodyH {padding: 2px 16px;}

.modal-footerH {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}


.youtubeVideo {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	}

.youtubeVideo p {
	margin-top: 10px;
	padding: 30px;
	}

@media only screen and (max-width: 500px)
 {

.youtubeVideo iframe {
	width: 100%;
}

.navbar-brand img {
	max-height: 4rem;
}

.wrapper-main .navbar {
	padding: 1px 1px 1px 1px !important;
}

}

@media (min-width: 1200px) {
#single-carousel .owl-item img {
    height: auto;
}
}

@media (min-width: 992px) {
#single-carousel .owl-item img {
    height: auto;
}
}

@media (min-width: 544px){
#single-carousel .owl-item img {
    height: auto;
}


}

@media (min-width: ){
#single-carousel .owl-item img {
   height: auto;
}
}

@media (min-width: 992px) {
.wrapper-main > nav.container-max {
    top: 125px;
}
}

@media (min-width: 768px) {
.wrapper-main>nav.container-max {
    top: 130px;
}
}

.wrapper-main .navbar {
	padding: 21px 0 21px 0;
}

.wrapper-main #page-body {
    margin-top: 155px;
    background: transparent;
}

.owl-thumbs .owl-thumb {
	height: 6.16rem;
}

#dhlWunschpaket {
	padding: 25px;
}

.square-container {

	padding-bottom: 66%;
}
